@charset "UTF-8";
/* CSS Document */

/********** Base styles **********/
* {
  box-sizing: border-box;
}


.navbar-brand a{
	color: #000000;
}

.navbar-brand a:hover{
	color:#565656;
	text-decoration: none;
}

.padding{
	padding: 10px;
}

.innerpad{
	padding: 20px;
}


.chicken{
	background-color: #875C74;
}

.beef{
	background-color: #A790A5;
}

.sushi{
	background-color: #C5EBC3;
}

h1{
	text-align: center;
}

h3{
	text-align: center;
}

.innerpad a{
	color: #FFFFFF;
}

.innerpad a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
}
